.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 16px !important;
        height: 4px !important;
        border-radius: 5px !important;
        margin: 0 6px !important;
    }

    .swiper-pagination {
        bottom: 2px !important;
    }

    .swiper-wrapper {
        height: max-content !important;
        width: max-content !important;
        padding-bottom: 64px;
    }

    .swiper-pagination-bullet-active {
        background: #4F46E5 !important;
    }
    
    .swiper-slide.swiper-slide-active {
        transform: scale(1.2); /* Scale up the active slide */
    }

    .swiper-slide {
        transition: transform 0.5s ease; /* Smooth transition for the scaling */
    }
    .swiper {
        padding-top: 40px; /* Add some top padding to prevent cut-off */
    }